@import '../style/theme.scss';

.tab{
  .header{
    background-color: $view-bg-color;
    padding-bottom: 10rpx;
    .titles{
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: 10rpx;
      font-size: 26rpx;
      .titlesBg{
        padding: 4rpx;
        background-color: #EDEDED;
        border-radius: 68rpx;
        .titlesContainer{
          display: flex;
          justify-content: center;
          height: 60rpx;
          border-radius: 60rpx;
          overflow: hidden;
          position: relative;
          z-index: 0;
          .title{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 34rpx;
          }
          .active{
            position: absolute;
            left: 0;
            background-color: $view-bg-color;
            width: 50%;
            height: 100%;
            border-radius: 60rpx;
            z-index: -1;
            transform: translateX(0);
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          }
        }
      }
    }
    .headerContent{
      
    }
  }
}

.tabContent{

}