.app {
  padding: 30px;
  .group{
    margin-bottom: 30px;
    &:nth-last-child(1){
      margin-bottom: 0;
    }
    >view{
      margin-right: 24px;
    }
    >div{
      margin-right: 24px;
    }
    >button{
      margin-right: 24px;
    }
  }
}
