// The prefix to use on all css classes from anna.
$anna-prefix: anna;

// primary
$color-brand: #1890FF;

// default
$page-bg-color: #F2F2F2;
$view-bg-color: #FDFFFD;
$btn-bg-color: #EDEDEF;
$btn-bg-color-1: #E6E6E6;
$font-color: #000;
$font-color-1: #333;
$font-color-2: #666;
$font-color-3: #999;

// other
$color-danger: #ff4d4f;


// dark
// $page-bg-color: #000;
// $view-bg-color: #1C1C1D;
// $btn-bg-color: #313134;
// $btn-bg-color-1: #222;
// $font-color: #FDFFFD;
// $font-color-1: #DDD;
// $font-color-2: #BBB;
// $font-color-3: #999;

