@import '../style/index.scss';

$popup-prefix-cls: #{$anna-prefix}-popup;

.#{$popup-prefix-cls} {
  &-container{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #FDFFFD;
    border-radius: 20rpx 20rpx 0 0;
    overflow: hidden;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &-close{
      position: absolute;
      top: 20rpx;
      right: 20rpx;
    }
    &-title{
      padding: 30rpx 0;
      text-align: center;
      color: #000;
    }
  }
  &-container_active{
    transform: translate3d(0, 0, 0);
  }
}
