@import '../style/index.scss';

$popup-prefix-cls: #{$anna-prefix}-popup;

.#{$popup-prefix-cls} {
  &-container{
    position: fixed;
    z-index: 1000;
    background-color: #FDFFFD;
    overflow: hidden;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &-bottom{
      left: 0;
      right: 0;
      bottom: 0;
      transform: translate3d(0, 100%, 0);
      border-radius: 20px 20px 0 0;
    }
    &-top{
      left: 0;
      right: 0;
      top: 0;
      transform: translate3d(0, -100%, 0);
      border-radius: 0 0 20px 20px;
    }
    &-left{
      left: 0;
      top: 0;
      bottom: 0;
      transform: translate3d(-100%, 0, 0);
      border-radius: 0 20px 20px 0;
    }
    &-right{
      right: 0;
      top: 0;
      bottom: 0;
      transform: translate3d(100%, 0, 0);
      border-radius: 20px 0 0 20px;
    }
    &-ease{
      transition-timing-function: ease;
    }
    &-square{
      border-radius: 0;
    }
    &-active{
      transform: translate3d(0, 0, 0);
    }
    &-close{
      position: absolute;
      top: 20px;
      right: 20px;
    }
    &-title{
      padding: 30px 0;
      text-align: center;
      color: #000;
    }
  }
}
