@import '../../style/theme/index';

$result-prefix-cls: #{$anna-prefix}-result;

.#{$result-prefix-cls} {
  box-sizing: border-box;
  height: 100vh;
  padding: 100px 30px;
  background-color: $light-base;
  &-icon{
    margin-bottom: 48px;
    text-align: center;
    &-status{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 144px;
      height: 144px;
      border-radius: 50%;
    }
  }
  &-title{
    color: #333;
    font-size: 48px;
    line-height: 1.8;
    text-align: center;
  }
  &-sub_title{
    color: #999;
    font-size: 28px;
    line-height: 1.6;
    text-align: center;
  }
  &-content{
    margin-top: 48px;
    padding: 24px 40px;
    background-color: $light-4;
  }
  &-extra{
    margin-top: 64px;
    text-align: center;
  }
}