@import '../style/index.scss';

$button-prefix-cls: #{$anna-prefix}-button;

$large-height: 80rpx;

.#{$button-prefix-cls} {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 40rpx;
  background-color: $btn-bg-color;
  height: 64rpx;
  line-height: 66rpx;
  border-radius: 64rpx;
  color: $color-brand;
  font-weight: 500;
  font-size: 24rpx;
  text-align: center;
  &-small{
    padding: 0 30rpx;
    height: 52rpx;
    line-height: 54rpx;
    border-radius: 52rpx;
    font-size: 24rpx;
  }
  &-large{
    font-size: 28rpx;
    padding: 0 42rpx;
    height: $large-height;
    line-height: $large-height + 2;
    border-radius: $large-height;
  }
  &-superlarge{
    font-size: 30rpx;
    padding: 0 42rpx;
    height: 84rpx;
    line-height: 86rpx;
    border-radius: 84rpx;
  }
  &-simple{
    height: 68rpx;
    color: #666;
    border: 1rpx solid #666;
    background-color: transparent;
  }
  &-primary{
    background-color: $color-brand;
    color: $view-bg-color;
  }
  &-disabled{
    opacity: 0.4;
    color: hsla(0,0%,100%,.6) !important;
  }
  &-danger-default{
    color: $color-danger;
  }
  &-danger{
    background-color: $color-danger;
    color: $view-bg-color;
  }
  &-square{
    border-radius: 12rpx;
  }
  &-block{
    width: 100%;
  }
  &-loading{
    opacity: 0.4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &-loading-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 16rpx;
  }
}

.widthfixbutton{
  height: $large-height;
  display: inline-block;
  overflow: hidden;
  .default{
    display: inline-block;
    width: 200%;
    height: 200%;
    font-size: 28rpx * 2;
    transform: scale(0.5);
    transform-origin: 0 0;
    text-align: center;
  }
  .large{
    line-height: $large-height * 2;
    border-radius: $large-height * 2;
  }
  .primary{
    background-color: $color-brand;
    color: $view-bg-color;
  }
  .disabled{
    opacity: 0.4;
    color: hsla(0,0%,100%,.6) !important;
  }
}


