@import '../style/index.scss';

$steps-prefix-cls: #{$anna-prefix}-steps;

.#{$steps-prefix-cls} {
  &-first_step{
    position: relative;
    height: 80rpx;
  }
  &-step{
    box-sizing: border-box;
    position: relative;
    padding: 0 0 80rpx 50rpx;
    &-header{
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
      &-title{
        color: rgba(0, 0, 0, 0.85);
        font-size: 32rpx;
        font-weight: 500;
      }
      &-extra{
        color: rgba(0, 0, 0, 0.45);
        font-size: 28rpx;
      }
    }
    &-description{
      color: rgba(0, 0, 0, 0.65);
      padding-top: 2rpx;
      line-height: 1.44444;
      font-size: 28rpx;
    }
  }
  &-circle{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 22rpx;
    height: 22rpx;
    border-radius: 50%;
    border: 4rpx solid #1890FF;
    background-color: #FDFFFD;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
  &-circle_current{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 52rpx;
    height: 52rpx;
    border-radius: 50%;
    background-color: #FDFFFD;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30rpx #99CCFF;
    &-icon{
      width: 40rpx;
      height: 38rpx;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-line{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    // border-left: 2rpx dashed #CCC;
    // border-right: 2rpx dashed #CCC;
    width: 4rpx;
    background-image: linear-gradient(to bottom, #CCC 0%, #CCC 50%, transparent 50%);
    background-repeat: repeat-y;
    background-size: 100% 20rpx;
  }
}