.app {
  padding: 30px 0;
  .extra{
    color: $brand-color;
  }
  .group{
    margin-bottom: 30px;
    .title{
      height: 88px;
      line-height: 86px;
      color: $light-base;
      font-size: 32px;
      font-weight: 500;
      padding-left: 24px;
    }
    .content{
      background-color: $light-base;
    }
  }
}
