@import '../../style/theme/index';

$textarea-prefix-cls: #{$anna-prefix}-textarea;

.#{$textarea-prefix-cls} {
  &-default{
    display: block;
    width: 100%;
    padding: 0;
    font-size: 28px;
    color: $font-color-1;
    background-color: $light-base;
    outline: none;
    resize: none;
    border: none;
  }
  &-placeholder{
    font-size: 28px;
  }
}
