$radius: 30rpx;

.cascade{
  background-color: #F9FBF9;
  color: #333;
  font-size: 30rpx;
  text-align: left;
  .selectedOptions{
    min-height: 90rpx;
    background-color: #FDFFFD;
    padding-bottom: 40rpx;
    .step{
      display: flex;
      padding-bottom: $radius;
      &:nth-last-child(1){
        padding-bottom: 0;
      }
      .line{
        position: relative;
        width: $radius;
        min-width: $radius;
        margin-right: $radius;
        .dot{
          position: absolute;
          width: 16rpx;
          height: 16rpx;
          top: $radius;
          left: 100%;
          margin-top: -8rpx;
          margin-left: -8rpx;
          border-radius: 50%;
          background-color: #E8E8E8;
          z-index: 10;
        }
        .dotLineDefault::before{
          content: '';
          position: absolute;
          width: 2rpx;
          height: calc(100% + 30rpx);
          background-color: #E8E8E8;
          top: $radius;
          left: 100%;
          margin-left: -1rpx;
        }
        .dotLineActive::before{
          content: '';
          position: absolute;
          width: 2rpx;
          height: calc(100% + 30rpx);
          background-color: #1890FF;
          top: $radius;
          left: 100%;
          margin-left: -1rpx;
        }
      }
      .container{
        flex-grow: 1;
        .content{
          .main{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{
              display: flex;
              align-items: center;
              height: $radius * 2;
            }
            .right{
              display: flex;
              align-items: center;
              padding-right: 20rpx;
              color: #999;
              .rightText{
                padding-right: 10rpx;
              }
              .arrow{
                display: flex;
                color: #999;
                min-width: 24rpx;
                .icon{
                  box-sizing: border-box;
                  display: flex;
                  align-items: center;
                  font-size: 24rpx;
                  margin-left: 6rpx;
                }
              }
            }
          }
        }
      }
    }
  }
  .showedOptions{
    min-height: 200rpx;
    padding: 0 30rpx;
    .title{
      padding: 30rpx 0 10rpx 0;
      font-size: 24rpx;
      color: #666;
    }
    .category{
      padding: 30rpx 0;
    }
  }
}
