@import '../style/index.scss';

$cascade-prefix-cls: #{$anna-prefix}-cascade;

$radius: 30px;

.#{$cascade-prefix-cls} {
  background-color: #F9FBF9;
  color: #333;
  font-size: 30px;
  text-align: left;
  &-selected-options{
    min-height: 90px;
    background-color: #FDFFFD;
    padding: 24px 0;
    &-step{
      display: flex;
      padding-bottom: $radius;
      &:nth-last-child(1){
        padding-bottom: 0;
      }
      &-line{
        position: relative;
        width: $radius;
        min-width: $radius;
        margin-right: $radius;
        &-dot{
          position: absolute;
          width: 16px;
          height: 16px;
          top: $radius;
          left: 100%;
          margin-top: -8px;
          margin-left: -8px;
          border-radius: 50%;
          background-color: #E8E8E8;
          z-index: 10;
        }
        &-dot_line_default::before{
          content: '';
          position: absolute;
          width: 2px;
          height: calc(100% + 30px);
          background-color: #E8E8E8;
          top: $radius;
          left: 100%;
          margin-left: -1px;
        }
        &-dot_line_active::before{
          content: '';
          position: absolute;
          width: 2px;
          height: calc(100% + 30px);
          background-color: #1890FF;
          top: $radius;
          left: 100%;
          margin-left: -1px;
        }
      }
      &-container{
        flex-grow: 1;
        &-content{
          &-main{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-left{
              display: flex;
              align-items: center;
              height: $radius * 2;
            }
            &-right{
              display: flex;
              align-items: center;
              padding-right: 20px;
              color: #999;
              &-text{
                padding-right: 10px;
              }
              &-arrow{
                min-width: 24px;
              }
            }
          }
        }
      }
    }
  }
  &-showed-options{
    min-height: 200px;
    padding: 0 30px;
    &-title{
      padding: 30px 0 10px 0;
      font-size: 24px;
      color: #666;
    }
    &-category{
      padding: 30px 0;
    }
  }
}
