@import '../../style/theme/index';

$radio-prefix-cls: #{$anna-prefix}-radio;

.#{$radio-prefix-cls} {
  display: inline-block;
  margin-right: 30px;
  font-size: 28px;
  &:nth-last-child(1){
    margin-right: 0;
  }
  &-container{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &-out-round{
    position: relative;
    width: 38px;
    height: 38px;
    padding: 7px;
    border-radius: 50%;
    &::before{
      box-sizing: border-box;
      position: absolute;
      content: '';
      left: -50%;
      right: -50%;
      top: -50%;
      bottom: -50%;
      transform: scale(0.5);
      border-radius: 50%;
      border: 1PX solid #999;
      pointer-events: none;
    }
    &-checked{
      &::before{
        border: 2PX solid $brand-color;
      }
    }
  }
  &-inner-round{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $brand-color;
  }
  &-children{
    margin-left: 14px;
    color: #333;
    white-space: nowrap;
  }
}
