@import '../../style/theme/index';

$fab-prefix-cls: #{$anna-prefix}-fab;

.#{$fab-prefix-cls} {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 40px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  z-index: 10;
  background-color: #1890FF;
  box-shadow: 0 10px 20px #888888;
}