.action{
  padding: 12px 24px;
  text-align: right;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}

.app{
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #FDFFFD;
  border-radius: 20px;
  .info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .main{
      .title{
        width: 200px;
        height: 36px;
        background-color: #EDEDEF;
        border-radius: 6px;
        margin-bottom: 20px;
      }
      .item{
        width: 400px;
        height: 30px;
        background-color: #EDEDEF;
        border-radius: 6px;
        margin-bottom: 20px;
      }
    }
    .footer{
      display: flex;
      justify-content: space-between;
      height: 34px;
      .price{
        width: 80px;
        border-radius: 6px;
        background-color: #EDEDEF;
      }
      .cart{
        width: 40px;
        border-radius: 6px;
        background-color: #EDEDEF;
      }
    }
  }
  .image{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-right: 20px;
    position: relative;
    background-color: #e8e8e8;
  }
}
