@import '../../style/theme/index';

$checkbox-prefix-cls: #{$anna-prefix}-checkbox;

.#{$checkbox-prefix-cls} {
  display: inline-block;
  margin-right: 30px;
  font-size: 28px;
  &:nth-last-child(1){
    margin-right: 0;
  }
  &-container{
    display: flex;
    align-items: center;
    cursor: pointer;
    &-icon{
      font-size: 48px;
      width: 48px;
      height: 48px;
    }
    &-label{
      margin-left: 14px;
      color: #333;
      white-space: nowrap;
    }
  }
}
