@import '../../style/theme/index';

$tabs-prefix-cls: #{$anna-prefix}-tabs;

.#{$tabs-prefix-cls} {
  &-header{
    &-titles{
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      font-size: 26px;
      &-bg{
        padding: 6px;
        background-color: #EDEDED;
        border-radius: 72px;
        &-container{
          display: flex;
          justify-content: center;
          height: 60px;
          line-height: 60px;
          position: relative;
          z-index: 0;
          &-title{
            width: 140px;
            text-align: center;
            transition: all 0.3s;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
          }
          &-active{
            position: absolute;
            left: 0;
            background-color: $view-bg-color;
            width: 50%;
            height: 100%;
            border-radius: 60px;
            z-index: -1;
            transform: translateX(0);
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            box-shadow: 0 4px 8px #CCCCCC;
          }
        }
        &-square{
          border-radius: 16px;
          .#{$tabs-prefix-cls}-header-titles-bg-container-active{
            border-radius: 12px;
          }
        }
      }
    }
    &-titles-plain{
      display: flex;
      margin-bottom: 10px;
      &-title{
        box-sizing: border-box;
        position: relative;
        height: 72px;
        line-height: 72px;
        white-space: nowrap;
        margin-right: 50px;
        color: #000;
        &-active{
          font-weight: 500;
          &::after{
            position: absolute;
            left: 50%;
            bottom: 0;
            content: '';
            height: 6px;
            border-radius: 6px;
            width: 32px;
            background-color: #1890FF;
            transform: translateX(-50%);
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          }
        }
      }
    }
    &-titles-plain-center{
      justify-content: center;
      &-title{
        flex: 1;
        text-align: center;
        padding: 0 10px;
        margin-right: 0;
      }
    }
    &-titles-card{
      box-sizing: border-box;
      display: flex;
      border: 1PX solid #1890FF;
      margin-bottom: 10px;
      font-size: 28px;
      border-radius: 12px;
      overflow: hidden;
      &-title{
        flex: 1;
        box-sizing: border-box;
        height: 56px;
        line-height: 56px;
        white-space: nowrap;
        color: #1890FF;
        text-align: center;
        border-right: 1PX solid #1890FF;
        &:nth-last-child(1){
          border-right: none;
        }
        &-active{
          font-weight: 500;
          color: #FDFFFD;
          background-color: #1890FF;
        }
      }
    }
    &-content{
      
    }
  }

  // vertical
  &-vertical {
    display: flex;
    font-size: 28px;
    border-radius: 16px;
    overflow: hidden;
    &-sidebar {
      position: relative;
      background-color: #FAFAFA;
      width: 170px;
      color: #000;
      font-weight: 400;
      &-item {
        position: relative;
        height: 96px;
        line-height: 96px;
        padding: 0 24px 0 24px;
        white-space: nowrap;
        cursor: pointer;
      }
      &-active {
        position: absolute;
        left: 0;
        top: 32px;
        width: 6px;
        height: 32px;
        border-radius: 6px;
        background-color: #1890FF;
        transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      &-top{
        position: absolute;
        top: -12px;
        right: 0;
        width: 12px;
        height: 12px;
        background-color: #FDFFFD;
        overflow: hidden;
        transform: rotate(90deg);
        z-index: 1;
        &-circle{
          position: absolute;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          left: -12px;
          right: -12px;
          background-color: #FAFAFA;
        }
      }
      &-bottom{
        position: absolute;
        bottom: -12px;
        right: 0;
        width: 12px;
        height: 12px;
        background-color: #FDFFFD;
        overflow: hidden;
        z-index: 1;
        &-circle{
          position: absolute;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          left: -12px;
          right: -12px;
          background-color: #FAFAFA;
        }
      }
    }
    &-content {
      flex: 1;
      background-color: #FDFFFD;
    }
  }
}

