@import '../style/index.scss';

$fab-prefix-cls: #{$anna-prefix}-fab;

.#{$fab-prefix-cls} {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20rpx;
  bottom: 40rpx;
  border-radius: 50%;
  height: 80rpx;
  width: 80rpx;
  z-index: 10;
  background-color: #1890FF;
  box-shadow: 0 10rpx 20rpx #888888;
}