@import '../../style/theme/index';

$cascade-popup-prefix-cls: #{$anna-prefix}-cascade-popup;

.#{$cascade-popup-prefix-cls} {
  height: 100%;
  width: 100%;
  &-loading{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
  }
  &-formitem{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    font-size: 26px;
  }
  &-container{
    overflow: hidden;
    &-header{
      position: relative;
      text-align: center;
      height: 80px;
      line-height: 80px;
      padding: 0 30px;
      background-color: $light-base;
      font-size: 26px;
      color: #333;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      &-close{
        position: absolute;
        right: 30px;
        top: 30px;
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

