@import '../style/index.scss';

$search_bar-prefix-cls: #{$anna-prefix}-search_bar;

.#{$search_bar-prefix-cls} {
  display: flex;
  align-items: center;
  overflow: hidden; //防止取消按钮露出
  &-input{
    max-width: 100%; //防止input长度超出
    box-sizing: border-box;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    height: 64rpx;
    border-radius: 64rpx;
    padding: 16rpx;
    background-color: #F6F6F6;
    &-synthetic{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      display: flex;
      align-items: center;
      color: #999;
      &-icon{
        color: #666;
      }
      &-placeholder{
        padding-left: 10rpx;
        font-size: 28rpx;
      }
    }
    &-is_left{
      left: 16rpx;
      transform: translate(0, -50%);
    }
    &-value{
      flex: 1;
      padding: 0 10rpx 0 46rpx;
      background-color: transparent;
      color: #333;
      font-size: 28rpx;
    }
    &-clear{
      color: #CCC;
    }
  }
  &-action_button{
    padding-left: 20rpx;
    margin-right: -100rpx;
    font-size: 30rpx;
    white-space: nowrap;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &-show_action_button{
    margin-right: 0;
  }
}

.#{$search_bar-prefix-cls}-large {
  .#{$search_bar-prefix-cls}-input {
    height: 72rpx;
    border-radius: 72rpx;
    &-synthetic{
      &-placeholder{
        font-size: 30rpx;
      }
    }
    &-value{
      font-size: 30rpx;
    }
  }
  .#{$search_bar-prefix-cls}-action_button {
    font-size: 32rpx;
  }
}

.#{$search_bar-prefix-cls}-small {
  .#{$search_bar-prefix-cls}-input {
    height: 56rpx;
    border-radius: 56rpx;
    &-synthetic{
      &-placeholder{
        font-size: 28rpx;
      }
    }
    &-value{
      font-size: 28rpx;
    }
  }
  .#{$search_bar-prefix-cls}-action_button {
    font-size: 30rpx;
  }
}