@import '../style/index.scss';

.searchBar{
  display: flex;
  align-items: center;
  overflow: hidden; //防止取消按钮露出
  .input{
    max-width: 100%; //防止input长度超出
    box-sizing: border-box;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    height: 72rpx;
    border-radius: 72rpx;
    padding: 16rpx;
    background-color: #F6F6F6;
    .synthetic{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      display: flex;
      align-items: center;
      color: #999;
      .syntheticIcon{
        color: #666;
        font-size: 36rpx;
      }
      .syntheticPlaceholder{
        padding-left: 10rpx;
        font-size: 30rpx;
      }
    }
    .isLeft{
      left: 16rpx;
      transform: translate(0, -50%);
    }
    .value{
      flex: 1;
      padding: 0 10rpx 0 46rpx;
      background-color: transparent;
      color: #333;
      font-size: 30rpx;
    }
    .clear{
      color: #CCC;
      font-size: 36rpx;
    }
  }
  .actionButton{
    padding-left: 20rpx;
    margin-right: -100rpx;
    font-size: 32rpx;
    white-space: nowrap;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .showActionButton{
    margin-right: 0;
  }
}