@import '../../style/theme/index';

$card-prefix-cls: #{$anna-prefix}-card;

.#{$card-prefix-cls} {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 20px;
  background-color: $light-base;
  font-size: 28px;
  color: $font-color;
  &-header{
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    &-title{
      font-size: 32px;
    }
    &-extra{
      font-size: 28px;
    }
  }
  &-content{
    padding: 0 20px 24px;
  }
}
