@import '../../style/theme/index';

$progress_bar-prefix-cls: #{$anna-prefix}-progress_bar;


$height: 50px;

.#{$progress_bar-prefix-cls} {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
  height: $height;
  // line-height: $height;
  border-radius: $height;
  overflow: hidden;
  font-size: 24px;
  &-node{
    box-sizing: border-box;
    flex: 1;
    color: #333;
    text-align: center;
    z-index: 1;
  }
  &-node_first{
    border-radius: $height 0 0 $height;
  }
  &-node_last{
    border-radius: 0 $height $height 0;
  }
  &-node_active{
    color: $light-base;
  }
  &-process{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: $height;
    background-color: $brand-color;
    z-index: 0;
  }
}