@import '../../../../components/style/theme.scss';

.block{
  margin-bottom: 30px;
  .title{
    height: 88px;
    line-height: 86px;
    color: rgba(0,0,0,.85);
    font-size: 32px;
    font-weight: 500;
    padding-left: 24px;
  }
  .content{
    
  }
}