@import '../../style/theme/index';

$tag-prefix-cls: #{$anna-prefix}-tag;

.#{$tag-prefix-cls} {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  text-align: center;
  // type
  color: #333;
  background-color: $light-7;
  border: 2px solid $light-7;
  // size
  height: 44px;
  line-height: 40px;
  padding: 0 14px;
  border-radius: 8px;
  font-size: 24px;
  margin-right: 14px;
  user-select: none;
  white-space: nowrap;
  &:nth-last-child(1){
    margin-right: 0;
  }
  &-plain{
    background-color: transparent;
    border-color: transparent;
    &::before{
      box-sizing: border-box;
      position: absolute;
      content: '';
      left: -50%;
      right: -50%;
      top: -50%;
      bottom: -50%;
      border-radius: 16px; // border-radius 也会被缩小为一半
      border: 1PX solid #CCCCCC;
      transform: scale(0.5);
    }
  }
  &-small{
    height: 40px;
    line-height: 36px;
    padding: 0 12px;
    border-radius: 6px;
    font-size: 22px;
  }
  &-large{
    height: 52px;
    line-height: 48px;
    padding: 0 20px;
    border-radius: 8px;
    font-size: 24px;
  }
  &-block{
    width: 100%;
  }
  &-checkable{
    cursor: pointer;
    background-color: #F5F5F5;
  }
  &-checked{
    color: $light-base;
    background-color: $brand-color;
    border: 2px solid $brand-color;
  }
  &-blue{
    color: $brand-color;
    background-color: #e6f7ff;
    border: 2px solid #91d5ff;
  }
  &-green{
    color: #52c41a;
    background-color: #f6ffed;
    border: 2px solid #b7eb8f;
  }
  &-yellow{
    color: #fa8c16;
    background-color: #fff7e6;
    border: 2px solid #ffd591;
  }
  &-red{
    color: #f5222d;
    background-color: #fff1f0;
    border: 2px solid #ffa39e;
  }
  // disabled
  &-disabled{
    opacity: 0.4;
  }
}
