@import '../../style/theme/index';

$filter-prefix-cls: #{$anna-prefix}-filter;

.#{$filter-prefix-cls} {
  position: relative;
  z-index: 999;
  height: 100px;
  &-items{
    position: relative;
    display: flex;
  }
  &-content{
    z-index: 1;
    position: fixed;
    top: unset;
    bottom: unset;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: height 0.3s ease;
  }
}