.rate{
  display: flex;
  align-items: center;
  padding-bottom: 30rpx;
  &:nth-last-child(1){
    padding-bottom: 0;
  }
  .label{
    padding-right: 40rpx;
  }
  .value{
    flex: 1;
    display: flex;
    .star{
      color: #FFD700;
      font-size: 48rpx;
      margin-right: 30rpx;
      &:nth-last-child(1){
        margin-right: 0;
      }
    }
  }
}