@import '../../style/theme/index';

$steps-prefix-cls: #{$anna-prefix}-steps;

.#{$steps-prefix-cls} {
  &-first_step{
    position: relative;
    height: 80px;
  }
  &-step{
    box-sizing: border-box;
    position: relative;
    padding: 0 0 70px 50px;
    &-header{
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
      &-title{
        color: rgba(0, 0, 0, 0.85);
        font-size: 30px;
        font-weight: 500;
      }
      &-extra{
        color: rgba(0, 0, 0, 0.45);
        font-size: 26px;
      }
    }
    &-description{
      color: rgba(0, 0, 0, 0.65);
      padding-top: 2px;
      line-height: 1.44444;
      font-size: 26px;
      transform: translateY(-10px);
    }
  }
  &-circle{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $brand-color;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
  &-circle_current{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $light-base;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px #99CCFF;
    &-icon{
      width: 40px;
      height: 40px;
      display: inline-block;
    }
  }
  &-line{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: $brand-color;
    transform: translateX(-50%);
  }
}

$steps_horizontal-prefix-cls: #{$steps-prefix-cls}_horizontal;

.#{$steps_horizontal-prefix-cls} {
  display: flex;
  background-color: $light-base;
  overflow: hidden;
  &-step{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:nth-child(1){
      align-items: flex-start;
    }
    &:nth-last-child(1){
      align-items: flex-end;
      .#{$steps_horizontal-prefix-cls}-step-container{
        &-icon{
          &::after{
            background-color: $light-base;
          }
        }
      }
    }
    &-container{
      position: relative;
      z-index: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-icon{
        position: relative;
        display: inline-block;
        padding: 0 20px;
        background-color: $light-base;
        height: 40px;
        &::after{
          content: '';
          position: absolute;
          z-index: -1;
          height: 2px;
          background-color: #f0f0f0;
          top: 50%;
          left: 50%;
          margin-top: -1px;
          width: 3000px;
        }
        &-default{
          display: flex;
          align-items: center;
          height: 40px;
          >view{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: rgba(0,0,0,.25);
          }
          >div{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: rgba(0,0,0,.25);
          }
        }
      }
      &-content{
        &-title{
          color: rgba(0, 0, 0, 0.85);
          font-size: 28px;
          font-weight: 500;
          margin-top: 10px;
        }
      }
    }
  }
  &-step-finish{
    .#{$steps_horizontal-prefix-cls}-step-container{
      &-icon{
        &::after{
          background-color: $brand-color;
        }
      }
    }
  }
}