@import '../../style/theme/index';

$image-upload-prefix-cls: #{$anna-prefix}-image-upload;

.#{$image-upload-prefix-cls} {
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  row-gap: 20px;
  column-gap: 20px;
  &-add{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    border-radius: 10px;
    background-color: $light-5;
    cursor: pointer;
  }
  &-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    border-radius: 10px;
    background-color: #e8e8e8;
    overflow: hidden;
    cursor: pointer;
    &-delete{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 30px;
      height: 30px;
      background-color: #999;
      opacity: 0.8;
      border-radius: 50%;
    }
    >image{
      width: 100%;
    }
  }
}
